.background{
  background: black;
}

.location-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-button.active {
  background-color: blue; /* Color when active */
}

.department-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.department-button.active {
  background-color: greenyellow; /* Color when active */
  color: black;
}

#filter-options {
  display: flex;
  align-items: center;
}

#filter-options label {
  margin-right: 10px;
}

#filter-options select {
  margin-right: 20px;
}
.button-spacing {
  margin-left: 10px;
}
.pairing-table {
  width: 100%;
  border-collapse: collapse;
}
.pairing-table td,
.pairing-table th {
  /* cell borders */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.stars{
  position: absolute;
  top: 0px;
  opacity: 0%;

  animation: showStars 0.7s ease-in-out 0.8s forwards;
}

@keyframes showStars {
  from{
    opacity: 0%;
    top: -300px
  }
  to{
    opacity: 100%;
    top: 0px;
  }
}

.main-con{
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  position: relative;
  bottom: 150px;
  color: white;
  font-size: 350%;
  font-style: unset;
  text-shadow: 2px 2px 2px #72C5A3;
  bottom: 100px;
  opacity: 0%;

  animation: fadeWelcome 0.6s ease-out forwards;
}

@keyframes fadeWelcome {
  from {
    opacity: 0%;
    bottom: 50px;
  }
  to {
    opacity: 100%;
    bottom: 100px;
  }
}

.btn {
  margin-bottom: 150px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;

  font-family: sans-serif;
  font-style: italic;
  font-size: 22px;
  letter-spacing: 1px;

  background-color: #72c5a3;
  border-color: transparent;

  opacity: 0%;
  animation: fadeButton 0.6s ease-out forwards;
  animation-delay: 0.7s;
}

@keyframes fadeButton {
  from {opacity: 0%;} to {opacity: 100%;}
}

.btn:hover{
  background-color:white;
  border-color: transparent;
  color:#72C5A3;
  
  scale: 103%;
}

.btn:active {
  background-color: orange !important;
  border-color: transparent !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh;
  position: absolute;
  bottom: -45vh;

  overflow: hidden;
  animation: moveBanner 0.8s ease-in-out 0.3s forwards;
}

@keyframes moveBanner {
  from {bottom: -45vh;} to {bottom: 0vh;}
}

.home-cover {
  position: relative;
  top: 63vh;

  animation: rotate-globe 240s linear infinite;
}

@keyframes rotate-globe {
  from {transform: rotate(0deg);} to {transform: rotate(360deg);}
}
