@font-face {
  font-family: futura-bold;
  src: url(fonts/Futura\ Bold\ Oblique.otf);
}

@font-face {
  font-family: lato-reg;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato-bold;
  src: url(fonts/LatoWeb-Bold.ttf);
}

.background{
  background: black;
}

.location-button {
  font-family: lato-reg;
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.watsonville{
  color: #bb2828;
  border-color: #bb2828;
}
.watsonville.active {
  color: white;
  background-color: #bb2828;
}

.salinas{
  color: darkseagreen;
  border-color:darkseagreen;
}
.salinas.active{
  color: white;
  background-color:darkseagreen;
}

.gilroy{
  color:burlywood;
  border-color: burlywood;
}
.gilroy.active{
  color: white;
  background-color: burlywood;
}

.modesto{
  color: slategray;
  border-color: slategray;
}
.modesto.active{
  color: white;
  background-color: slategray;
}

.stockton{
  color:purple;
  border-color: purple;
}
.stockton.active{
  color: white;
  background-color: purple;
}

.department-button {
  font-family: lato-reg;
  background-color: transparent;
  border: none;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #72C5A3;
  color: #72C5A3;
}
.department-button.active {
  background-color: #72C5A3; /* Color when active */
  color: white;
}

#filter-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#filter-options button {
  margin-left: 10px;
}

#filter-options label {
  margin-right: 10px;
}

#filter-options select {
  margin-right: 20px;
}

.pairing-table {
  font-family: lato-reg;
  width: 100%;
  border-collapse: collapse;
}
.pairing-table td,
.pairing-table th {
  /* cell borders */
  font-family: lato-reg;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.stars {
  position: absolute;
  top: 0px;
  opacity: 0%;

  animation: show-stars 0.7s ease-in-out 0.8s forwards;
}

@keyframes show-stars {
  from {
    opacity: 0%;
    top: -300px;
  }
  to {
    opacity: 100%;
    top: 0px;
  }
}

.main-con {
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  font-family: futura-bold;
  position: relative;
  bottom: 150px;
  color: white;
  font-size: 350%;
  font-style: unset;
  text-shadow: 2px 2px 2px #72c5a3;
  bottom: 100px;
  opacity: 0%;

  animation: fade-welcome 0.6s ease-out forwards;
}

@keyframes fade-welcome {
  from {
    opacity: 0%;
    bottom: 50px;
  }
  to {
    opacity: 100%;
    bottom: 100px;
  }
}

.home-btn {
  font-family: lato-reg;
  margin-bottom: 150px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;

  font-size: 22px;
  letter-spacing: 1px;

  background-color: #72c5a3;
  border-color: transparent;

  opacity: 0%;
  animation: fade-button 0.6s ease-out forwards;
  animation-delay: 0.7s;
}

@keyframes fade-button {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.home-btn:hover{
  background-color: rgb(226, 226, 226);
  border-color: transparent;
  color: #72c5a3;

  scale: 103%;
}

.home-btn:active {
  background-color: orange !important;
  border-color: transparent !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh;
  position: absolute;
  bottom: -45vh;

  overflow: hidden;
  animation: move-banner 0.8s ease-in-out 0.3s forwards;
}

@keyframes move-banner {
  from {
    bottom: -45vh;
  }
  to {
    bottom: 0vh;
  }
}

.home-cover {
  position: relative;
  top: 63vh;
  animation: rotate-globe 240s linear infinite;
}

@keyframes rotate-globe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-row{
  display: flex;
  flex-direction: row;
}

.modal-toolbar{
  border-right: 1px solid #72C5A3;
  padding-right: 10px;
  margin-right: 25px;
  width: 40vw;
}

.modal-header{
  background-color: #72C5A3;
}

.modal-content{
  height: 90vh;
}


input[type="checkbox"]{
  scale: 120%;
  accent-color: #72C5A3;
}

.locations-div{
  margin-bottom: 20px;
}
.locations-div > h2 {
  font-family: lato-bold;
  margin-bottom: 15px;
}

.department-col{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.department-col > h2 {
  font-family: lato-bold;
  margin-bottom: 15px;
}
.unique-div{
  margin-bottom: 50px;
}
.unique-div > h2{
  font-family: lato-bold;
  margin-bottom: 15px;
}
.unique-boxes{
  font-family: lato-reg;
  display: flex;
  flex-direction: column;
  padding-left: 10px
}
.table{
  font-family: lato-reg;
}
.table-functions{
  display: flex;
  border: 1px solid red;
  margin-left: -5px;
}