.location-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.department-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#filter-options {
  display: flex;
  align-items: center;
}

#filter-options label {
  margin-right: 10px;
}

#filter-options select {
  margin-right: 20px;
}
.button-spacing {
  margin-left: 10px; /* Adjust spacing as needed */
}
.pairing-table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders */
}
.pairing-table td,
.pairing-table th {
  border: 1px solid #ccc; /* Add border to cells */
  padding: 10px; /* Add padding */
  text-align: left; /* Align text */
}
