.location-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.department-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#filter-options {
  display: flex;
  align-items: center;
}

#filter-options label {
  margin-right: 10px;
}

#filter-options select {
  margin-right: 20px;
}
.button-spacing {
  margin-left: 10px; 
}
.pairing-table {
  width: 100%;
  border-collapse: collapse; 
}
.pairing-table td, 
.pairing-table th {
  /* cell borders */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
